name: pipeline

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: get source code
        uses: actions/checkout@v2
      - name: setup node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'npm'
      - name: backend install
        run: npm --prefix backend install
      - name: frontend install
        run: npm --prefix frontend install
      - name: frontend build
        run: npm --prefix frontend run build
      - name: upload frontend build
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: frontend/.next
  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: run app tests
        run: echo 'run app tests'

  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: deploy app
        run: echo 'deploy app'
